/* styling navlist */
#navlist {
  background-color: #0074D9;
  position: fixed;
  width: 100%;
}

/* styling navlist anchor element */
#navlist a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
}
.navlist-right{
  float:right;
}

/* hover effect of navlist anchor element */
#navlist a:hover {
  background-color: #ddd;
  color: black;
}
